* {
  font-family: "Visitor"
}

@font-face {
	font-family: 'Visitor';
	src: 
		local('Visitor'),
		url('./visitor/visitor1.ttf') 
		format('truetype');
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #2659bf;
  color:rgb(33, 33, 33);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width:500px;
  height: 700px;
}

.duck {
  height: 75px;
  margin-bottom: 30px;
  animation: Float infinite 1s;
}

.header {
  margin-top: 0;
  font-size: 75px;
  text-align: center;
  animation: FadeIn 1s;
}

.button {
  text-align:center;
  font-size: 20px;
  width:150px;
  margin: 0;
  padding:10px;
  background-color: #5080e1;
  outline: none;
}

input.button {
  border: none;
}

.button#sort {
  width:680px;
}
.button:hover{
  background-color: #FFCC33;
}
.button:active{
  background-color: rgb(250, 215, 109);
}

.filterInput{
  background-color:white;
  font-size: 30px;
  padding: 10px;
  border: none;
  width:480px;
  outline: none;
}

.addForm{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.addInput{
  background-color:white;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  width:300px;
}

ul#userContainer{
  background-color: #5080e1;
  height:300px;
  overflow-y: auto;
  font-size: 25px;
  padding: 20px 20px 20px 20px;
  border-bottom: 2px solid white;
  /* box-shadow: inset 0 0 5px 0 rgba(44,61,59,.7); */
}

.delete{
  color:rgb(50, 50, 50);
  cursor: pointer;
  font-size: 15px;
  margin-right: 15px;
}

.delete:hover{
  color: #FFCC33;
}

.listItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.listItemWhenEmpty{
 color:rgb(34, 34, 34);
}

.Modal {
  background-color: white;
  position: absolute;
  padding:75px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.fade {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
}

.close {
  position: fixed;
  top: 10px;
  right: 10px;
}

.message {
  overflow-wrap: break-word;
  width: 300px;
  text-align: center;
}

.close:hover,
.close:focus {
  color: #FFCC33;
  text-decoration: none;
  cursor: pointer;
}

.complete {
  color:rgb(23, 165, 23);
  /* margin-bottom: 5px; */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #5080e1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(29, 77, 174); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255,204,51); 
}


@keyframes Float {
  0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes FadeIn {
  0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
