.duck {
  height: 20vmin;
  pointer-events: none;
  animation: Float infinite 1s;
}

.App {
  background-color: #2659bf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Visitor';
}

.header {
  margin-bottom: 8vh;
  margin-top: 8vh;
  font-size: 75px;
  text-align: center;
  /* font-family: 'Visitor'; */
}

.play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width:110px;
  margin: 0;
  padding:10px;
  border: 4px solid black;
  color: black;
}
.play:hover{
  /* border: 4px solid #FFCC33; */
  /* color: #FFCC33; */
  background-color: #FFCC33;
}

@keyframes Float {
  /* from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */

  0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
